In [ ]:
!pip install pandas-profiling

In [3]:
import numpy as np
import pandas as pd
from pandas_profiling import ProfileReport

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression

<ipython-input-3-18994c2070bc>:3: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  from pandas_profiling import ProfileReport

In [7]:
#data = pd.read_csv('../input/students-performance-in-exams/StudentsPerformance.csv')

#dados
url='https://github.com/Diegojfsr/VisualizacaoDados_TrabalhoPratico2/blob/main/csv/Students.csv?raw=true'
data = pd.read_csv(url)
data

,gender,race_ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [8]:
encoder = LabelEncoder()

data['gender'] = encoder.fit_transform(data['gender'])
gender_mappings = {index: label for index, label in enumerate(encoder.classes_)}

data['race_ethnicity'] = encoder.fit_transform(data['race_ethnicity'])
ethnicity_mappings = {index: label for index, label in enumerate(encoder.classes_)}

data['parental level of education'] = encoder.fit_transform(data['parental level of education'])
parent_education_mappings = {index: label for index, label in enumerate(encoder.classes_)}

data['lunch'] = encoder.fit_transform(data['lunch'])
lunch_mappings = {index: label for index, label in enumerate(encoder.classes_)}

data['test preparation course'] = encoder.fit_transform(data['test preparation course'])
test_prep_mappings = {index: label for index, label in enumerate(encoder.classes_)}

In [ ]:

# Dados apos a conversao
data

In [9]:
report = ProfileReport(data)

In [ ]:
report.to_notebook_iframe()

In [13]:
X = data[['math score', 'reading score', 'writing score']]

y_math = X['math score']
y_reading = X['reading score']
y_writing = X['writing score']

In [14]:
scaler = StandardScaler()

X = pd.DataFrame(scaler.fit_transform(X), columns=X.columns)

In [15]:
X_math = X[['reading score', 'writing score']]
X_reading = X[['math score', 'writing score']]
X_writing = X[['math score', 'reading score']]

In [16]:
X_math_train, X_math_test, y_math_train, y_math_test = train_test_split(X_math, y_math, train_size=0.7)
X_reading_train, X_reading_test, y_reading_train, y_reading_test = train_test_split(X_reading, y_reading, train_size=0.7)
X_writing_train, X_writing_test, y_writing_train, y_writing_test = train_test_split(X_writing, y_writing, train_size=0.7)

In [17]:
math_model = LinearRegression()
reading_model = LinearRegression()
writing_model = LinearRegression()

math_model.fit(X_math_train, y_math_train)
reading_model.fit(X_reading_train, y_reading_train)
writing_model.fit(X_writing_train, y_writing_train)

math_R2 = math_model.score(X_math_test, y_math_test)
reading_R2 = reading_model.score(X_reading_test, y_reading_test)
writing_R2 = writing_model.score(X_writing_test, y_writing_test)

In [18]:
print(f"Math R^2: {math_R2}")
print(f"Reading R^2: {reading_R2}")
print(f"Writing R^2: {writing_R2}")

Math R^2: 0.64167112125095
Reading R^2: 0.921910642273599
Writing R^2: 0.9059570778089022