In [ ]:
!pip install keras
#https://didatica.tech/wp-content/uploads/2023/02/admission_dataset.CSV

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: keras in /usr/local/lib/python3.10/dist-packages (2.12.0)

In [ ]:
import keras

In [ ]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

#df = pd.read_CSV('https://didatica.tech/wp-content/uploads/2023/02/admission_dataset.CSV')


#dados
url='https://github.com/Diegojfsr/VisualizacaoDados_TrabalhoPratico2/blob/main/csv/Students.csv?raw=true'
df = pd.read_csv(url)
df

,gender,race_ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [ ]:
##### Verificando os valores e colunas #####

#print(df.isna().any()) # Exibe como True ou False os valores nan do Dataframe
#print(df.isna().sum()) # Exibe a soma dos valores nan no Dataframe
#df.head()
#df.info(verbose=True)
print(df.info())
#df.shape
#df.isna().sum()
#df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race_ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
None

In [ ]:
### Separando os Dados em Traino e Teste

y = df['math score'] #Coluna que eu quero fazer a predição
x = df.drop('math score', axis = 1) # irei apagar soemnte essa coluna da base de dados, e usar as demais

x_treino, x_teste = x[0:300], x[300:] # as primeira 300 linhas serao de treiono e as demais teste
y_treino, y_teste = y[0:300], y[300:]

In [ ]:
x_teste.shape

(700, 7)

In [ ]:
from keras.models import Sequential
from keras.layers import Dense

# criando a arquitetura da RNA

modelo = Sequential()
modelo.add(Dense(units=3, activation='relu', input_dim=x_treino.shape[1]))
modelo.add(Dense(units=1, activation='linear'))

# Treinando a RNA

modelo.compile(loss='mse', optimizer='adam', metrics=['mae'])
reaultado = modelo.fit(x_treino, y_treino, epochs=50, batch_size=32, validation_data=(x_teste, y_teste))